.header_light {
  background-color: var(--color-light-xl);
  height: 120px;
}

.header__title_light {
  color: var(--color-dark-l);
}

.header__text_light {
  color: var(--color-dark-3xl);
}

.header__menu-link_light {
  color: var(--color-dark-3xl);
}

.slider_full {
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 60px;
}

.slider__pagination {
  display: flex;
  gap: 20px;
}

.cards__list_full {
  gap: 30px 40px;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}
