.header_light {
  height: 120px;

  background-color: var(--color-light-xl);
}

.header__title_light {
  color: var(--color-dark-l);
}

.header__text_light {
  color: var(--color-dark-3xl);
}

.header__menu-link_light {
  color: var(--color-dark-l);
}

.header__menu-link_light:hover {
  color: var(--color-dark-3xl);
}

.slider_full {
  gap: 60px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.slider__pagination {
  display: flex;

  gap: 20px;
}

.cards__list_full {
  justify-content: space-between;

  width: 100%;

  gap: 30px 40px;
  justify-items: center;
}
