/* Common styles */

html {
  scroll-behavior: smooth;
}

.root {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: var(--color-dark);
  background: url(../../assets/images/background-lines.png),
    linear-gradient(45deg, #5b483a, #262425);

  font: normal 20px/2 "Georgia", serif;

  --color-black: #000;
  --color-dark-3xl: #292929;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-s: #cdcdcd;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-light-xl: #fff;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  -webkit-font-smoothing: antialiased;
  grid-template-columns: 1fr;
  justify-items: center;
  --main-width: 1280px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.common-width {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--main-width);
  padding: 0 40px;
}

@media screen and (max-width: 1080px) {
  .common-width {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .common-width {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.link {
  text-decoration: none;
}

.button {
  display: grid;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 261px;
  height: 52px;
  padding: 0;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  background-color: var(--color-primary);

  font: normal normal 17px/1.3 "Georgia", serif;

  justify-items: center;
}

.button:hover {
  transform: scale(1.1);

  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.text {
  margin: 0;

  font: normal normal 15px/1.6 "Arial", sans-serif;
}

.icon {
  width: 60px;
  height: 60px;

  fill: var(--color-primary);
}

.icon_m {
  width: 40px;
  height: 32px;
}

.icon_sm {
  width: 30px;
  height: 23px;
}

.icon_s {
  width: 22px;
  height: 32px;
}

.header {
  display: grid;

  width: 100%;

  justify-items: center;
}

.header__container {
  align-items: center;
  justify-content: space-between;
  height: 180px;

  gap: 31px;
  grid-template-areas: "logo navigation";
  grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 1080px) {
  .header__container {
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .header__container {
    padding-left: 65px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 350px) {
  .header__container {
    padding-left: 35px;
  }
}

@media screen and (max-width: 330px) {
  .header__container {
    padding-left: 10px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 60px;

  grid-area: logo;

  z-index: 3;
}

.header__title {
  margin: 0;
  padding: 0;

  letter-spacing: 0.06em;

  color: var(--color-primary);

  font: normal normal 32px/1.1 "Georgia", serif;
}

.header__text {
  margin: 0;

  letter-spacing: 0.1em;

  color: var(--color-light-xl);

  font: normal normal 13px/1.15 "Arial", sans-serif;
}

.header__navigation {
  grid-area: navigation;
  height: 30px;
  display: grid;
  justify-content: end;
}

.header__menu {
  display: flex;
  font: normal normal 15px/1.6 "Arial", sans-serif;
  gap: 35px;
}

.header__menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu {
    font-size: 32px;
    gap: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -320px;
    visibility: hidden;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    transition: 0.5s;
    opacity: 0;
    background-color: var(--color-dark-3xl);
  }
}

@media screen and (max-width: 767px) {
  .header__menu:before {
    position: absolute;
    top: 0;
    left: -150%;
    display: block;
    width: 150%;
    height: 100vh;
    content: "";
    opacity: 0.6;
    background: var(--color-dark-3xl);
  }
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    width: 30px;
    height: 30px;
    display: flex;
    background: no-repeat 50% url(../../assets/svg/button-menu-open.svg);
    border: none;
    border-radius: 0;
    justify-self: right;
  }
}

.header__menu-button:hover {
  background-color: transparent;
  transform: scale(1.1);
  border: none;
}

.header__menu_opened {
  right: 0;
  display: flex;
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header__menu-button_opened {
    position: fixed;
    z-index: 2;
    display: flex;
    background: no-repeat 50% url(../../assets/svg/button-menu-close.svg);
  }
}

.header__menu-link {
  transition: color 0.2s;

  color: var(--color-dark-s);
}

.header__menu-link_active {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 5px;
}

.header__menu-link:hover {
  color: var(--color-light-s);
}

.main {
  display: grid;

  width: 100%;

  grid-template-columns: 1fr;
  justify-items: center;
}

.section {
  display: grid;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (max-width: 576px) {
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.title {
  margin: 0;

  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  font: normal normal 35px/1.3 "Georgia", serif;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 25px;
    text-align: center;
  }
}

.start-screen {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 960px) {
  .start-screen {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 100px;
  }
}

@media screen and (max-width: 576px) {
  .start-screen {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 105px;
  }
}

@media screen and (max-width: 480px) {
  .start-screen {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.start-screen__info {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 460px;
  height: 100%;
  margin-top: 163px;

  gap: 42px;
}

@media screen and (max-width: 1200px) {
  .start-screen__info {
    margin: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .start-screen__info {
    align-items: center;
    justify-content: center;
  }
}

.start-screen__title {
  margin: 0;

  color: var(--color-light-xl);

  font: normal normal 44px/1.3 "Georgia", serif;
}

@media screen and (max-width: 576px) {
  .start-screen__title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.start-screen__text {
  color: var(--color-dark-s);
}

@media screen and (max-width: 576px) {
  .start-screen__text {
    text-align: center;
  }
}

.start-screen__image {
  width: 698px;
  height: 728px;

  background: url(../../assets/images/start-screen-puppy.png) no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .start-screen__image {
    width: 569px;
    height: 593px;
    justify-self: right;
  }
}

@media screen and (max-width: 1080px) {
  .start-screen__image {
    width: 450px;
    height: 469px;
  }
}

@media screen and (max-width: 960px) {
  .start-screen__image {
    width: 569px;
    height: 593px;
    justify-self: right;
  }
}

@media screen and (max-width: 720px) {
  .start-screen__image {
    width: 450px;
    height: 469px;
  }
}

@media screen and (max-width: 576px) {
  .start-screen__image {
    width: 350px;
    height: 365px;
  }
}

@media screen and (max-width: 480px) {
  .start-screen__image {
    width: 260px;
    height: 272px;
  }
}

.start-screen__button {
  max-width: 207px;
}

@media screen and (max-width: 1080px) {
  .start-screen__button {
    align-self: center;
  }
}

.about {
  background-color: var(--color-light-xl);

  grid-template-columns: 1fr;
  justify-items: center;
}

.about__article {
  align-items: center;
  justify-content: center;

  column-gap: 120px;
  grid-template-areas:
    "image title"
    "image text";
}

@media screen and (max-width: 960px) {
  .about__article {
    grid-template-areas:
      "title"
      "text"
      "image";
    gap: 25px;
  }
}

.about__image {
  width: 100%;
  max-width: 300px;
  height: auto;

  grid-area: image;
}

@media screen and (max-width: 960px) {
  .about__image {
    justify-self: center;
  }
}

@media screen and (max-width: 576px) {
  .about__image {
    width: 260px;
    height: 354px;
  }
}

.about__title {
  grid-area: title;
}

.about__text {
  display: grid;

  width: 100%;
  max-width: 430px;

  color: var(--color-dark-3xl);

  gap: 25px;
  grid-area: text;
}

@media screen and (max-width: 960px) {
  .about__text {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 576px) {
  .about__text {
    gap: 22px;
    margin-bottom: 17px;
    text-align: justify;
  }
}

.about__paragraph {
  margin: 0;
}

.pets {
  background-color: var(--color-light-l);

  gap: 60px;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen and (max-width: 576px) {
  .pets {
    gap: 42px;
  }
}

.pets__title {
  text-align: center;
}

.slider {
  align-items: center;

  gap: 12px;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas: "button-prev list button-next";
}

@media screen and (max-width: 767px) {
  .slider {
    grid-template-areas:
      "list list"
      "button-prev button-next";
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 576px) {
  .slider {
    gap: 20px 0;
  }
}

.slider__button {
  display: grid;
  align-content: center;
  justify-content: center;

  width: 52px;

  background-color: var(--color-light-l);
}

.slider__button_prev {
  grid-area: button-prev;
}

.slider__button_next {
  grid-area: button-next;
}

.slider__button_disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
}

.slider__button_active {
  background-color: var(--color-primary);
}

.slider__icon {
  width: 14px;
  height: 6px;

  fill: var(--color-dark-3xl);
}

.cards__list {
  display: grid;
  justify-content: center;

  width: 100%;

  gap: 90px;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 435px);
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .cards__list {
    gap: 30px 40px;
  }
}

@media screen and (max-width: 767px) {
  .cards__list {
    grid-area: list;
    grid-template-columns: 1fr;
  }
}

.cards__list-item {
  display: grid;

  width: 270px;
  height: 435px;

  transition: 0.3s ease-in-out;

  border-radius: 9px;
  background-color: var(--color-light-s);

  grid-template-columns: 1fr;
  justify-items: center;
}

.cards__list-item:hover {
  cursor: pointer;

  background-color: var(--color-light-xl);
  box-shadow: 0 2px 35px rgba(13, 13, 13, 0.04);
}

@media screen and (max-width: 1198px) {
  .cards__list-item_hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .cards__list-item_hidden_768 {
    display: none;
  }
}

.cards__figure {
  margin: 0;
}

.cards__caption {
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  line-height: 1.136;
}

.cards__image {
  margin-bottom: 15px;
}

.cards__button {
  max-width: 187px;

  background-color: var(--color-light-xl);
}

.help {
  background-color: var(--color-light-xl);

  gap: 60px;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .help {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (max-width: 576px) {
  .help {
    gap: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.help__title {
  width: 100%;
  max-width: 400px;

  text-align: center;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 55px 120px;
}

@media screen and (max-width: 960px) {
  .help__list {
    gap: 55px 60px;
  }
}

@media screen and (max-width: 767px) {
  .help__list {
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .help__list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .help__list {
    justify-content: space-between;
    max-width: 350px;
  }
}

.help__list-subtitle {
  margin: 0;

  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  font: normal normal 20px/1.15 "Georgia", serif;
}

.help__list-item {
  display: grid;

  gap: 30px;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .help__list-item {
    width: 170px;
    height: 113px;
  }
}

@media screen and (max-width: 576px) {
  .help__list-item {
    width: 130px;
    height: 87px;
    gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .help__icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .help__list-subtitle {
    font-size: 15px;
  }
}

.donation {
  background-color: var(--color-light-l);

  grid-template-columns: 1fr;
  justify-items: center;
}

.donation__article {
  align-items: center;
  justify-content: center;
  grid-template-areas: "image info ";

  gap: 30px;
}

@media screen and (max-width: 960px) {
  .donation__article {
    grid-template-areas:
      "info"
      "image";
    gap: 60px;
    justify-items: center;
  }
}

.donation__info {
  display: grid;
  grid-area: info;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 960px) {
  .donation__info {
    max-width: 380px;
  }
}

.donation__image {
  grid-area: image;
  width: 100%;
  max-width: 505px;
  height: auto;
}

.donation__subtitle {
  margin: 0;

  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  font: normal normal 15px/1.1 "Georgia", serif;
}

.donation__number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 349px;
  height: 43px;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.06em;

  border-radius: 9px;
  background-color: var(--color-primary);

  font: normal normal 20px/1.15 "Georgia", serif;

  gap: 12px;
}

.donation__icon {
  fill: var(--color-dark-3xl);
}

.donation__link {
  color: var(--color-dark-3xl);
}

.donation__number:hover {
  transform: scale(1.1);
}

.donation__text {
  width: 100%;
  max-width: 380px;
  margin: 0;

  color: var(--color-dark-m);

  font: italic normal 12px/1.5 "Arial", sans-serif;
}

.footer {
  justify-content: space-between;

  grid-template-columns: repeat(3, max-content);
}

.footer__contacts {
  display: grid;
  align-content: space-between;

  width: 100%;
  height: 234px;
  padding-top: 56px;
  padding-bottom: 60px;
}

.footer__title {
  color: var(--color-light-xl);
}

.footer__contacts-list {
  display: grid;

  gap: 40px;
}

.footer__contacts-list-item {
  display: grid;
  align-items: center;

  gap: 20px;
  grid-template-columns: min-content 1fr;
}

.icon__contacts {
  display: flex;
  align-content: center;
}

.footer__link {
  letter-spacing: 0.06em;

  color: var(--color-primary);

  line-height: 1.15;
}

.footer__image {
  align-self: end;

  width: 300px;
  height: 310px;

  background: url(../../assets/images/footer-puppy.png) no-repeat;
  background-size: cover;
}
